<!--header starts-->
<header id="header" class="header-scroll top-header headrom">
	<!-- .navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">&#9776;</button>
			<a class="navbar-brand mr-0" [routerLink]="'/'"> <img class="img-rounded" src="assets/images/logo.png" alt=""></a>
			<div class="collapse navbar-collapse float-lg-right collapse in d-flex-lg" id="navbarSupportedContent">
				<ul class="nav navbar-nav ml-lg-auto px-0 align-items-center">
					<li class="nav-item">
						<a class="nav-link" [ngClass]="isRouteActive('home') ? 'active' : ''" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
						<a class="nav-link" [ngClass]="isRouteActive('offers') ? 'active' : ''" [routerLink]="['/offers']">Offers <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [ngClass]="isRouteActive('support') ? 'active' : ''" [routerLink]="['/support']">Support <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a *ngIf="!isLoggedIn" class="nav-link active btn btn-success py-1 px-3 shadow-none" [routerLink]="['/signin']">Sign in</a>

						<a *ngIf="isLoggedIn" class="nav-link active dropdown-toggle btn btn-success py-1 px-3 shadow-none" data-toggle="dropdown" [routerLink]="" role="button" aria-haspopup="true" aria-expanded="false">{{loginText}}</a>
						<div *ngIf="isLoggedIn" class="dropdown-menu">
							<span>
								<a class="dropdown-item" [routerLink]="['/userprofile']">My Profile</a>
								<a class="dropdown-item" [routerLink]="['/orders']">My Order</a>
								<a class="dropdown-item" [routerLink]="['/favourite']">Favourites</a>
								<a class="dropdown-item" [routerLink]="['/refer']">Refer & Earn</a>
								<a class="dropdown-item" href="" (click)="logout($event)">Logout</a>
							</span>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" [ngClass]="isRouteActive('cart') ? 'active' : ''" [routerLink]="" (click)="goToCart()">
							<i class="fa fa-shopping-cart" style="font-size: 18px; min-width: 23px;color: #fff; position: relative;top: 1px;"></i>
							Cart
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /.navbar -->
</header>
