<div>
	<div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
		<app-header></app-header>
		<div class="page-wrapper">
			<div class="breadcrumb">
				<div class="container">
					<ul>
						<li><a [routerLink]="['/']" class="active">Home</a></li>
						<li>My Account</li>
					</ul>
				</div>
			</div>
			<section class="contact-page inner-page">
				<div class="container">
					<div class="row d-flex">
						<div class="col-md-6">
							<div class="widget" style="height: calc(100% - 30px);">
								<div class="widget-body">
									<form class="p-1">
										<h4 class="m-b-30">Personal Information</h4>
										<div class="row mb-1">
											<div class="form-group col-sm-12">
												<label style="font-weight: 500;">Name</label>
												<input class="form-control p-1" type="text" [value]="user.name" readonly>
											</div>
											<div class="form-group col-sm-12">
												<label style="font-weight: 500">Email address</label>
												<input type="email" class="form-control p-1" [value]="user.email" readonly>
											</div>
											<div class="form-group col-sm-12">
												<label style="font-weight: 500">Phone number</label>
												<input class="form-control p-1" type="text" [value]="user.mobile_number" readonly>
											</div>
										</div>
										
									</form>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="widget" style="height: calc(100% - 30px);">
								<div class="widget-body">
									<div class="p-1">
										<h4 class="m-b-30">Saved Address</h4>
										<div class="row m-b-30">
											<div *ngFor="let address of addresses" class="form-group col-sm-12 m-b-30">
												<h6 class="d-flex align-items-center">{{address.title}}
													<span class="btn btn-sm btn-secondary" style="margin-left: auto;" data-toggle="modal" data-target="#add_address_modal" (click)="setAddress(address)">
														<i class="fa fa-pencil" aria-hidden="true"></i>
													</span>
												</h6>
												<label style="font-size: .9rem;" class="text-muted">{{address.address}}</label>
											</div>
										</div>
										<div class="row  m-t-30 pt-3">
											<div class="col-sm-12">
												<p class="text-right">
													<a class="btn theme-btn btn-lg color-white" style="font-size: 1rem; color: #fff;" data-toggle="modal" data-target="#add_address_modal" (click)="setAddress(null)">ADD NEW</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</section>
			
			<app-footer></app-footer>
			
			<app-address (setAddress)="getAddress($event)" [address]="this.address"></app-address>
		</div>
	</div>
</div>