
.page-wrapper {
	background: #fff;


	.page_title {
		background: #f5f5f5;

		.container {
			h1 {
				margin: 0;
				color: #000;
				font-weight: 500;
				font-size: 32px;
				padding-top: 41px;
				padding-bottom: 16px;
				position: relative;
				width: fit-content;
				&::after{
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 4px;
					background: #6ac932;
					border-radius: 50px;
				}
				
			}
		}
	}

	.content {
		padding: 50px 0;
		content: justify;

		h2 {
			padding: 20px 0 5px 0;
		}

		h4 {
			padding: 5px 0 2px 0;
		}
	}
}