<div class="sidebar clearfix m-b-20">
    <div class="main-block">
        <div class="sidebar-title white-txt">
            <h6>Search</h6> <i class="fa fa-cutlery pull-right"></i>
        </div>
        <div class="input-group">
            <input type="text" class="form-control search-field" placeholder="Search your favorite food" name="search" [(ngModel)]="restaurantFilter.search"/>
            <span class="input-group-btn">
                <button class="btn btn-secondary search-btn" type="button" (click)="onSearch()"><i class="fa fa-search"></i></button>
            </span> 
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="widget clearfix">
    <!-- /widget heading -->
    <div class="widget-heading">
        <h3 class="widget-title text-dark">
            Type of food
        </h3>
        <div class="clearfix"></div>
    </div>
    <form class="row mx-0">
        <div class=" col-lg-6 col-md-6col-sm-12 bg-white py-3 pr-0">
            <label class="custom-control custom-radio">
                <input id="radio2" name="vegOnly" type="checkbox" class="custom-control-input" (change)="onVegOnly($event)" [checked]="restaurantFilter.vegOnly"/>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Veg Only</span> 
            </label>
        </div>
    </form>
</div>


<div class="widget clearfix">
    <!-- /widget heading -->
    <div class="widget-heading">
        <h3 class="widget-title text-dark">
            Sort by
        </h3>
        <div class="clearfix"></div>
    </div>
    <form class="row mx-0">
        <div class="col-sm-12 bg-white py-3 pr-0">
            <label class="custom-control custom-radio">
                <input id="radio1" name="radio" type="radio" class="custom-control-input" (change)="onSortCostForTwoAsc($event)" [checked]="restaurantFilter.sort=='cost_for_two_sort_asc'"/>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Price: Low To High</span> 
            </label>
        </div>
        <div class="col-sm-12 bg-white py-3 pr-0">
            <label class="custom-control custom-radio">
                <input id="radio2" name="radio" type="radio" class="custom-control-input" (change)="onSortCostForTwoDesc($event)" [checked]="restaurantFilter.sort=='cost_for_two_sort_desc'"/> 
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Price: High to Low</span> 
            </label>
        </div>
        <div class="col-sm-12 bg-white py-3 pr-0">
            <label class="custom-control custom-radio">
                <input id="radio2" name="radio" type="radio" class="custom-control-input" (change)="onSortDistance($event)" [checked]="restaurantFilter.sort=='distance'"/> 
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Distance</span> 
            </label>
        </div>
    </form>
</div>


<!-- <div class="widget clearfix">
    <div class="widget-heading">
        <h3 class="widget-title text-dark">
            Price range
        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="widget-body bg-white">
        <div class="range-slider m-b-10"> <span id="ex2CurrentSliderValLabel"> Filter by price:<span id="ex2SliderVal"><strong>35</strong></span>$</span>
            <br/>
            <input id="ex2" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="35" /> 
        </div>
    </div>
</div> -->