<div id="referl_code">
	<div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
		<app-header></app-header>
		<div class="page-wrapper">
			<div class="container-fluid bg-white">
				<div class="img_box col-sm-12 col-md-10 col-lg-8 mx-auto">
					<img src="assets/images/refer_bg.jpg" class="img-fluid">
				</div>
			</div>
			<div class="container-fluid refferal_code_container">
				<div class="container">
					<div class="widget bg-white col-sm-12 col-md-12 col-lg-10 mx-auto position-relative">
						<div class="row align-item-center">
							<div class="col-sm-12 text-center">
								<h4>Your Refferal Code</h4>
								<div class="rating-block">
									<a [routerLink]="" (click)="copyCode('532461')" class="btn theme-btn-dash">{{referCode}}</a>
								</div>
								<p>Click to copy</p>
							</div>

							<!-- <div class="col-sm-12 col-md-6 col-lg-6 share_code">
								<div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
									<h4>Your Refferal Code</h4>
									<p>Share adove refferal code with <br>your friends & family and <br>win exiting offers</p>
									<ul class="d-flex align-item-center">
										<li>
											<a>
												<img src="assets/images/fb.png" class="img-fluid">
											</a>
										</li>
										<li>
											<a>
												<img src="assets/images/wh.png" class="img-fluid">
											</a>
										</li>
										<li>
											<a>
												<img src="assets/images/tw.png" class="img-fluid">
											</a>
										</li>
									</ul>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<app-footer></app-footer>
		</div>
	</div>
</div>