<div id="body">
	<div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
		<app-header></app-header>
		<div class="page-wrapper">
			<div class="top-links">
				<div class="container">
					<ul class="row links d-flex">
						<li class="col-xs-12 col-sm-3 link-item active"><span>1</span><a [routerLink]="">Choose Your Location</a></li>
						<li class="col-xs-12 col-sm-3 link-item active"><span>2</span><a [routerLink]="">Choose Store</a></li>
						<li class="col-xs-12 col-sm-3 link-item active"><span>3</span><a [routerLink]="">Pick Your favorite item</a></li>
						<li class="col-xs-12 col-sm-3 link-item"><span>4</span><a [routerLink]="">Order and Pay online</a></li>
					</ul>
				</div>
			</div>
			<section class="inner-page-hero bg-image" src="assets/images/profile-banner.jpg" style="padding-bottom: 3%">
				<div class="profile">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
								<div class="pull-left right-text white-txt">
									<h6><a [routerLink]="">{{ restaurant.name }}</a></h6>
									<!-- <a class="btn btn-small btn-green">Open</a> -->
									<p>
										<i class="fa fa-map-marker"></i>{{ restaurant.address }}
										
										<span [ngClass]="restaurant.favourite ? 'favorite_icon active' : 'favorite_icon'" (click)="toggleFavourite()">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
											<i class="fa fa-heart" aria-hidden="true"></i>
										</span>
									</p>
									<ul class="nav nav-inline">
										<li class="nav-item">
											<small class="d-block">Avg. Dellivery</small>
											<a class="nav-link px-0" [routerLink]=""><i class="fa fa-motorcycle"></i> {{ restaurant.delivery_time }} mins.</a>
										</li>
										<li class="nav-item">
											<small class="d-block">Min. Order</small>
											<a class="nav-link px-0" [routerLink]=""><i class="fa fa-check"></i>{{currency}} {{ restaurant.minimum_order }}</a>
										</li>
										<li class="nav-item ratings">
											<small class="d-block">Delivery Fee</small>
											<a class="nav-link px-0"><i class="fa"></i>{{currency}} {{ restaurant.delivery_fee }}</a>
										</li>
										
										<li class="nav-item ratings">
											<small class="d-block">Avg. Rating</small>
											<a class="nav-link px-0" [routerLink]="">
												<span>
													<app-ratings [ratings]="restaurant.ratings"></app-ratings>
													<span class="d-inline"> ({{restaurant.ratings_count}}) </span>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end:Inner page hero -->
			
			<div class="breadcrumb">
				<div class="container">
					<!-- <ul>
						<li><a [routerLink]="" class="active">Home</a></li>
						<li><a [routerLink]="">Search results</a></li>
						<li>Profile</li>
					</ul> -->
				</div>
			</div>
			
			
			
			<div class="container m-t-30">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
						<div class="sidebar clearfix m-b-20">
							<div class="main-block">
								<div class="sidebar-title white-txt">
									<h6>ABOUT</h6>
									<i class="fa fa-cutlery pull-right"></i>
								</div>
								<ul class="chef-detail">
									<!-- <li class="p-1">
										<small class="d-block text-muted">Status</small> <span class="d-block text-success">Available</span>
									</li> -->
									<li class="px-3 py-1">
										<small class="d-block text-muted">Avg. Delivery</small> <span class="d-block">{{ restaurant.delivery_time }} mins.</span>
									</li>
									<li class="px-3 py-1">
										<small class="d-block text-muted">Min. Order</small> <span class="d-block">{{currency}} {{ restaurant.minimum_order }}</span>
									</li>
									<li class="px-3 py-1">
										<small class="d-block text-muted">Delivery Fee</small> <span class="d-block">{{currency}} {{ restaurant.delivery_fee }}</span>
									</li>
								</ul>
								
								<div class="clearfix"></div>
							</div>
							<!-- end:Sidebar nav -->
						</div>
						
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
						<div class="menu-widget m-b-30">
							<div *ngIf="noResult && !loading" class="empty_view mx-auto">
								<div class="img_box">
									<img src="assets/images/no_search.png" class="img-fluid">
								</div>
								<div class="text_box">
									<h1 class="text-center">Oops! No result found.</h1>
									<p class="text-center">We are unable to process your request at the moment</p>
								</div>
							</div>
							
							<div *ngIf="loading" class="d-flex justify-content-center loader">
								<div class="spinner-border" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
							<div *ngIf="!loading && !noResult">
								<div *ngFor="let category of restaurant.categories">
									<div class="widget-heading panel mb-0">
										<a class="widget-title text-dark h3" data-toggle="collapse" href="#category_{{category.id}}" aria-expanded="true">
											{{ category.title }}
											<span class="btn btn-link pull-right">
												<i class="fa fa-angle-down pull-right"></i>
												<i class="fa fa-angle-up pull-right"></i>
											</span>
										</a>
										<div class="clearfix"></div>
									</div>
									<div class="collapse in show" id="category_{{category.id}}" *ngFor="let cartMenuItem of menuItemsByCategory(category.id)">
										<div class="food-item white">
											<div class="row align-items-start ">
												<div class="col-sm-12 col-md-8 col-lg-9">
													<div class="rest-logo pull-left">
														<a class="restaurant-logo pull-left" href="#food-modal" data-toggle="modal" data-target="#food-modal"><img [lazyLoad]="cartMenuItem.menuItem.image_url"></a>
													</div>
													<!-- end:Logo -->
													<div class="rest-descr">
														<h6><a [routerLink]="">{{ cartMenuItem.menuItem.title }}</a></h6>
														<p class="mb-0">{{ getCategoriesTitleForMenuItem(cartMenuItem.menuItem) }}</p>
													</div>
													<!-- end:Description -->
												</div>
												<!-- end:col -->
												<div class=" py-0 col-sm-12 col-md-4 col-lg-3 pull-right item-cart-info">
													<span class="price d-block text-right mt-0">{{currency}} {{cartMenuItem.menuItem.price}}</span>
													<div class="form-control add_food d-flex mb-3">
														<button class="btn btn-primary remove_item" type="button" (click)="addToCart(cartMenuItem.menuItem, -1)">
															<span>-</span>
														</button>
														
														<h2>
															{{cartMenuItem.quantity}}
														</h2>
														<button class="btn btn-primary ml-auto add_item" type="button" (click)="addToCart(cartMenuItem.menuItem, 1)">
															<span>+</span>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row m-t-30">
							<div class="col-sm-12 col-xs-12">
								<profile-reviews [restaurantId]="restaurantId"></profile-reviews>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-12 col-lg-3">
						<div class="sidebar-wrap">
							<div class="widget widget-cart">
								<div *ngIf="!cart.items.length" class="widget-heading restaurant_name empty_cart">
									<img src="assets/images/noorder_placeholder.png">
								</div>
								<div *ngIf="cart.items.length">
									<div class="widget-heading">
										<h3 class="widget-title text-dark">
											Your Cart
										</h3>
										<div class="clearfix"></div>
									</div>
									<div class="widget-heading restaurant_name">
										<h3 class="widget-title text-dark" *ngIf="cart.restaurant">
											{{cart.restaurant.name}}
										</h3>
										<div class="clearfix"></div>
									</div>
									
									<div class="order-row">
										<div class="widget-body" *ngFor="let cartItem of cart.items">
											<div *ngIf="cartItem.quantity > 0">
												<div class="title-row pb-2 d-flex">{{cartItem.menuItem.title}}<i (click)="removeFromCart(cartItem.menuItem)" class="fa fa-trash mr-0 ml-auto"></i></div>
												<div class="form-group  mb-0 row no-gutter d-flex align-items-center">
													<div class="col-6">
														<div class="form-control add_food d-flex mb-0">
															<button class="btn btn-primary remove_item" type="button" (click)="addToCart(cartItem.menuItem, -1)">
																<span>-</span>
															</button>
															
															<h2>
																{{cartItem.quantity}}
															</h2>
															<button class="btn btn-primary ml-auto add_item" type="button" (click)="addToCart(cartItem.menuItem, 1)">
																<span>+</span>
															</button>
														</div>
													</div>
													<div class="col-6 text-right text-muted h6 mb-0">
														{{cartItem.quantity}} x {{currency}} {{cartItem.menuItem.price}}
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="order-row add_instructions">
										<div class="widget-body">
											<div class="title-row pb-2">Add Instructions</div>
											<div class="form-group row no-gutter d-flex w-100 mb-0">
												
												<div class="row form-group mb-0 w-100 m-0 mb-0">
													<div class="col-12  bg-white w-100">
														<input class="form-control p-1 w-100 mb-0" id="specialInstructions" name="specialInstructions" type="text" placeholder="Add Instructions" [(ngModel)]="cart.specialInstructions">
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- end:Order row -->
									<div class="widget-body">
										<div class="price-wrap">
											
											<button *ngIf="!cart.coupon" type="button" class="btn text-center coupon_code_btn" data-toggle="modal" data-target="#coupon_code_modal">
												Have Coupon Code
											</button>
											<!--											<label *ngIf="cart.coupon">{{cart.coupon.code}} <i (click)="removeCoupon()" class="fa fa-trash pull-right"></i></label>-->
											
											<p class="d-flex cart_coupon" *ngIf="cart.coupon">{{cart.coupon.code}}  
												<i (click)="removeCoupon()" class="fa fa-trash ml-auto "></i>
											</p>
											<p class="d-flex">Sub Total <strong class="ml-auto ">{{currency}} {{ cart.subtotal }}</strong></p>
											<p class="d-flex">Tax <strong class="ml-auto ">{{currency}} {{cart.tax}}</strong></p>
											<p class="d-flex" *ngIf="cart.discount">Discount <strong class="ml-auto ">{{currency}} {{cart.discount}}</strong></p>
											<h3 class="value d-flex">Grand Total <strong class="ml-auto ">{{currency}} {{cart.total}}</strong></h3>
											<br>
											<!-- <p>Free Shipping</p>-->
											<button *ngIf="checkoutEnabled" (click)="goToCheckout()" type="button" class="w-100 btn theme-btn btn-lg" style="padding-left:3rem;padding-right: 3rem;">CHECKOUT</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-footer></app-footer>
		<app-coupon (setCoupon)="applyCoupon($event)"></app-coupon>
		
		<!-- Validate Payment -->
		<div class="modal fade" id="existingItemsInCartModal" tabindex="-1" role="dialog" aria-labelledby="existingItemsInCartModal" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Existing items in cart</h5>
					</div>
					<div class="modal-body">
						Your Cart contains items from other restaurant. Do you want to clear now?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" (click)="clearCart()">Yes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>