<div id="body">
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <app-header></app-header>
        <div class="page-wrapper">
            <!-- top Links -->
            <div class="top-links">
                <div class="container">
                    <ul class="row links d-flex">
                        <li class="col-sm-12 col-lg-3 link-item active"><span>1</span><a [routerLink]="">Choose Your Location</a></li>
                        <li class="col-sm-12 col-lg-3 link-item active"><span>2</span><a [routerLink]="">Choose Store</a></li>
                        <li class="col-sm-12 col-lg-3 link-item "><span>3</span><a [routerLink]="">Pick Your favorite item</a></li>
                        <li class="col-xs-12 col-sm-3 link-item"><span>4</span><a [routerLink]="">Order and Pay online</a></li>
                    </ul>
                </div>
            </div>
            <!-- end:Top links -->
            <!-- start: Inner page hero -->
            <div class="inner-page-hero bg-image" data-image-src="images/profile-banner.jpg">
                <div class="container"> </div>
                <!-- end:Container -->
            </div>
            <div class="result-show">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-3 col-md-4 col-lg-3">
                            <p class=""><span class="primary-color"><strong>{{ totalResults }}</strong></span> Results</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //results show -->
            <section class="restaurants-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                            <search-sidebar (changeFilter)="onFilterChange($event)" [search]="searchTerm"></search-sidebar>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                            <div infiniteScroll (scrolled)="onScroll()">
                                <search-results [restaurants]="restaurants" [loading]="loading" [noResult]="noResult"></search-results>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <app-footer></app-footer>
        </div>
    </div>
</div>