<div id="page_favorites">
	<div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
		<app-header></app-header>
		<div class="page-wrapper">
			<!-- <div class="inner-page-hero bg-image" data-image-src="assets/images/profile-banner.jpg">
				<div class="container"> </div>
			</div> -->
			<div class="breadcrumb mb-4">
				<div class="container">
					<ul>
						<li><a [routerLink]="['/']" class="active">Home</a></li>
						<li><a [routerLink]="">My Favorite</a></li>
					</ul>
				</div>
			</div>
			<!-- //results show -->
			<section class="restaurants-page">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div *ngIf="noResult && !loading" class="empty_view mx-auto">
								<div class="img_box">
									<img src="assets/images/no_search.png" class="img-fluid">
								</div>
								<div class="text_box">
									<h1 class="text-center">Oops! No Favourites yet.</h1>
									<p class="text-center">You haven't marked in store as favourite.</p>
								</div>
							</div>
							
							<div *ngIf="loading" class="d-flex justify-content-center loader">
								<div class="spinner-border" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
							<div *ngIf="!loading && !noResult">
								<div *ngFor="let favourite of favourites" class="bg-gray restaurant-entry">
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-8 text-center text-sm-left">
											
											<div class="entry-logo">
												<a class="img-fluid" [routerLink]="['/profile', favourite.store.id]"><img [src]="favourite.store.image_url"></a>
											</div>
											<div class="entry-dscr">
												<h5><a [routerLink]="['/profile', favourite.store.id]">{{favourite.store.name}}</a></h5> <span>{{getCategoriesTitle(favourite.store)}}</span>
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-check-circle-o"></i> Min {{currency}} {{favourite.store.minimum_order}}</li>
													<li class="list-inline-item"><i class="fa fa-motorcycle"></i> {{ favourite.store.delivery_time }} mins.</li>
												</ul>
											</div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-4 text-center">
											<div class="right-content bg-white">
												<div class="right-review">
													<div class="rating-block">
														<p class="d-flex align-items-center mx-auto pb-4 pt-1" style="width: fit-content;"><i class="fa fa-heart text-primary pr-2"></i> Favorited</p> <a [routerLink]="['/profile', favourite.store.id]" class="btn theme-btn-dash">Read more</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<app-footer></app-footer>
		</div>
	</div>
</div>