<!-- How it works block starts -->
<section class="how-it-works">
	<div class="container">
		<div class="text-xs-center">
			<h2>Easy 3 Step Order</h2>
			<!-- 3 block sections starts -->
			<div class="row how-it-works-solution">
				<div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col1">
					<div class="how-it-works-wrap">
						<div class="step step-1">
							<div class="icon" data-step="1">
								 <img src="assets/images/easy_step_order_icon_1.svg" alt="">
							</div>
							<h3>Choose a store</h3>
							<p>We"ve got your covered with menus from over 345 delivery stores online.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col2">
					<div class="step step-2">
						<div class="icon" data-step="2">
							<img src="assets/images/easy_step_order_icon_2.svg" alt="">
						</div>
						<h3>Choose a tasty dish</h3>
						<p>We"ve got your covered with menus from over 345 delivery stores online.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col3">
					<div class="step step-3">
						<div class="icon" data-step="3">
							 <img src="assets/images/easy_step_order_icon_3.svg" alt="">
						</div>
						<h3>Eat Deliveryed</h3>
						<p>Get your food delivered! And enjoy your meal! Pay online on pickup or delivery</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 3 block sections ends -->
		<!--
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="pay-info">Pay by Cash on delivery , Card or Paypal</p>
                    </div>
                </div>
            -->
	</div>
</section>
<!-- How it works block ends -->