<app-appinfo></app-appinfo>

<!-- start: FOOTER -->
<footer class="footer">
    <div class="container">
        <!-- top footer statrs -->
        <div class="row top-footer">
            <div class="col-sm-12 col-md-6 col-lg-3 footer-logo-block color-gray">
                <a [routerLink]="'/'"> <img src="assets/images/logo.png" alt="Footer logo"> </a> <span>{{websiteHeading}}</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 how-it-works-links color-gray">
                <h5>Address</h5>
                <p *ngIf="supportAddress" [innerHtml]="supportAddress"></p>
                <h5 *ngIf="supportPhone">Phone <br><a href="tel:{{supportPhone}}">{{supportPhone}}</a></h5>
                <h5 *ngIf="supportEmail">Email <br><a href="mail:{{supportEmail}}">{{supportEmail}}</a></h5>
                
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 about color-gray">
                <h5> Quick Links</h5>
                <ul>
                    <li><a [routerLink]="'/about'">About us</a> </li>
                    <li><a [routerLink]="'/privacy'">Privacy Policy</a> </li>
                    <li><a [routerLink]="'/terms'">Terms and Conditions</a> </li>
                    <li><a [routerLink]="'/faq'">FAQs</a> </li>
                </ul>
            </div>
        </div>
        <!-- top footer ends -->
    </div>
</footer>
<!-- end:Footer -->