.related-carousel {
	padding-top: 30px;
}

.related-carousel .item figure {
	position: relative;
	width: 190px;
	height: 190px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 10px;
}

.related-carousel .item figure img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	max-width: unset;
	height: auto;
	max-height: unset;
}

.related-carousel h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #555555;
	padding-left: 10px;
}

.related-carousel p {
	padding-left: 10px;
}