<!-- order carousel start-->
<section class="related-carousel bg-white">
    <div class="container text-center">
        <div class="title text-center m-b-30">
            <h2>What would you like to order? </h2>
        </div>
        <owl-carousel-o [options]="carouselOptions">
            <ng-template carouselSlide *ngFor="let category of categories">
                <div class="item">
                    <figure><img [src]="category.image_url" [alt]="category.title"></figure>
                    <h3 class="text-center"><a [routerLink]="['/search']" [queryParams]="{category: category.id}">{{category.title}}</a></h3>
                    <p class="text-muted">{{category.stores_count}} Stores</p>
                </div>
            </ng-template>             
        </owl-carousel-o> 
    </div>
</section>

<!-- order carousel end-->