<!-- Featured restaurants starts -->
<section class="featured-restaurants">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-block pull-left">
                    <h4 i18n="@@homeFeaturedHeader">Featured stores</h4>
                </div>
            </div>
        </div>
        <!-- restaurants listing starts -->
        <div class="row">   
            <div class="restaurant-listing d-flex">
                <div *ngIf="noResult && !loading" class="empty_view mx-auto">
                    <div class="img_box">
                        <img src="assets/images/no_search.png" class="img-fluid">
                    </div>
                    <div class="text_box">
                        <h1 class="text-center">Oops! No featured store.</h1>
                        <p class="text-center">We haven't find any store near you. Please try different location.</p>
                    </div>
                </div>
                
                <div *ngIf="loading" class="d-flex justify-content-center loader">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant grill fish thaifood pizza" *ngFor="let restaurant of restaurants">
                    <div class="restaurant-wrap">
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-center">
                                <a class="restaurant-logo" [routerLink]="['/profile', restaurant.id]"> <img [src]="restaurant.image_url" [alt]="restaurant.name"> </a>
                            </div>
                            
                            <!--end:col -->
                            <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9 pl-0">
                                <h5><a [routerLink]="['/profile', restaurant.id]">{{ restaurant.name }}</a></h5> <span>{{ getCategoriesTitle(restaurant) }}</span>
                                <div class="bottom-part">
                                    <div class="cost"><i class="fa fa-check"></i> Min {{currency}} {{restaurant.minimum_order}}</div>
                                    <div class="mins"><i class="fa fa-motorcycle"></i> {{ restaurant.delivery_time }} mins</div>
                                    <div class="ratings"> <span>
                                        <app-ratings [ratings]="restaurant.ratings"></app-ratings>
                                    </span> <span *ngIf="restaurant.ratings_count">({{restaurant.ratings_count}})</span></div>
                                </div>
                            </div>
                            <!-- end:col -->
                        </div>
                        <!-- end:row -->
                    </div>
                    <!--end:Restaurant wrap -->
                </div>
                <!--end: col -->
            </div>
        </div>
        <!-- restaurants listing ends -->
        <!-- add restaurant starts -->
        <!-- <section class="add-restaurants">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 add-title">
                        <h4>Add Your Restaurant</h4>
                    </div>
                    <div class="col-xs-12 col-sm-5 join-text">
                        <p>Join the thousands of other restaurants who benefit from having their menus on <a href="#"><strong> FoodPicky directory</strong></a> </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 join-btn text-lg-right"><a href="#" class="btn theme-btn btn-lg">I‘m restaurant</a> </div>
                </div>
            </div>
        </section> -->
        <!-- add restaurant ends -->
    </div>
</section>
<!-- Featured restaurants ends -->